@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    max-width: 100%;
}

body, html {
    overflow-x: hidden;
    font-family: 'Outfit', sans-serif;
}

input:focus,
textarea:focus {
    outline: none;
}

textarea {
    resize: none;
}

.mt-15
{
    margin-top: 150px;
}

.mb-15
{
    margin-bottom: 150px;
}

.contact-nav a
{
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: #FAE9D1;
}

.top-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-header h1
{
    font-weight: 700;
    font-size: 84px;
    line-height: 99px;
    color: #FFFFFF;
}

.home-paragrapgh p,
.necessary-list ul li
{
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
}

.contact-btn button,
.read-btn button
{
    padding: 16px 40px;
    background: #FAE9D1;

    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #111318;

    border: none;
}

.red-btn button
{
    background: #BE3222;
    color: #FFFFFF;
}

.fund-sub--header h4
{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #BE3222;
}

.fund-header h2,
.investment-header h2,
.core-header h2,
.necessary-header h2,
.interaction-header h2,
.contact-head h2
{
    font-weight: 700;
    font-size: 45px;
    line-height: 66px;
    color: #111318;
}

.fund-card
{
    padding: 24px 20px;

    width: 279px;
    height: 426px;

    background: #FFFFFF;
    border: 1px solid rgba(17, 19, 24, 0.1);
}

.fund-topic h3,
.core-topic h3,
.partner-name h3
{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #111318;
}

.fund-paragraph p
{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #515B70;
}

.investment-paragraph p,
.core-paragraph p,
.necessary-paragrapgh p,
.interaction-paragraph p,
.team-designation h5,
.team-paragraph p
{
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #515B70;
}

.footer-list ul li
{
    list-style: none;
    padding: 0 20px;
}

.footer-list ul li a,
.copyright p
{
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: #FFFFFF;
}

.necessary-box 
{
    width: 339px;
    height: 243px;
    border: none;
    border-left: 1px solid #FFFFFF;
    padding-left: 35px;
}

.necessary-topic h3
{
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
}
.interaction .col-lg-7
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 20px;
}

.interaction-lps
{
    display: flex;
}

.interaction-lps--img img
{
    width: 105px;
    height: 95px;
    margin-right: 25px;
}

.interaction-lps--paragraph p
{
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: #111318;
    width: 170px;
}

.our-team--header h1,
.partner-header h1
{
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    color: #111318;
}

.team-name h2
{
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #111318;
}

.ourteam-img img
{
    width: 440px;
    height: 463px;
}

.partner-img img
{
    width: 360px;
    height: 352px;
}

.partner-linkdn i
{
    margin-top: 1rem;
    font-size: 40px;
    color: #515B70;
}

.contact-form input,
.contact-form textarea
{
    width: 463px;
    height: 68px;
    border: 1px solid #E9EBEC;

    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #515B70;
    padding: 20px;
    margin-bottom: 20px;
}

.contact-form textarea
{
    width: 463px;
    height: 128px;
}

.contact-form button
{
    padding: 24px 207px;
    background: #BE3222;
    border: none;

    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
}

.overlay
{
    display: block;
    width: 590px;
    height: 768px;
    background-color: #FDF6ED;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}